@charset "UTF-8";

/*
Typical Device Breakpoints
--------------------------

Telas Pequenas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop (pc): de 992px até 1200px
Telas grandes: acima de 1200px

*/

@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
        font-size: 1.5em;
    }

    img#tel {
        display: none;
    }

    img#imp {
        display: block;
    }

    main {
        border: solid black 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) { /* TABLET */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#tel {
        display: none;
    }

    img#tab {
        display: block;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* PC */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#tel {
        display: none;
    }

    img#pc {
        display: block;
    }
    
}

@media screen and (min-width: 1200px) { /* TELAS GRANDES */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    img#tel {
        display: none;
    }

    img#tv {
        display: block;
    }
}