@charset "UTF-8";

/*TELA PARA IMPRESSORA*/

* {
    margin: 10px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em
}

nav {
    display: none;
}

h1, h2 {
    background-color: whitesmoke;
    font-size: 1.5em;
}

p {
    text-align: justify;
}