@charset "UTF-8";



img {
    display: none;
}

header nav {
    display: block;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

li {
    width: 20vw;
    border-bottom: none;
}

main article {
    width: 70vw;
}